.align-center {
    align-items: center;
}

input:focus-visible {
    outline: none;
}

.menu-btn,
.close-icon {
    display: none;
}

.border-wra {
    grid-column-gap: 37px;
    justify-content: center;
}

.menu a {
    padding: 0;
    color: #000000;
    font-size: 14px;
    font-family: 'roobert-med';
    cursor: pointer;
}

.header-last {
    display: flex;
    grid-column-gap: 33px;
    align-items: center;
    justify-content: flex-end;
}

header {
    /* position: fixed; */
    width: 100%;
    padding: 13px 0 15px;
    transition: .5s ease-in-out;
    /* top: 0; */
    /* left: 0; */
    background: var(--c-white);
    z-index: 999;
    border-bottom: 1px solid var(--c-filter);
    /* overflow: hidden; */
}

header.shrink {
    padding-top: 5px;
    background: var(--c-white);
    animation: .8s fadeInDown;
    /* box-shadow: 0 2px 4px 2px var(--c-lightgrey); */
}

.header-padding {
    padding-top: 18px;
    padding-bottom: 0;
}

header .btn-group {
    vertical-align: unset;
}

header .country .dropdown-item:focus,
header .country .dropdown-item:hover,
header .language .dropdown-item:focus,
header .language .dropdown-item:hover {
    color: #000;
    background-color: transparent;
}

header .country .dropdown-item,
header .language .dropdown-item {
    padding: 10px 1.5rem;
}

header .country .dropdown-toggle img,
header .language .dropdown-toggle img,
header .language .dropdown-menu .dropdown-item i,
header .language .dropdown-item img,
header .country .dropdown-item img {
    margin-right: 10px;
}

header .sub_row>* {
    margin-right: 25px;
}

.cart-1 {
    margin-right: 0 !important;
}

header .action-btn {
    background: 0 0;
    border: none;
    font-size: 23px;
    position: relative;
    line-height: 1;
    padding: 0;
    color: var(--t-color);
}

header .dropdown-toggle::after {
    /* content:  url(../assets/images/icons/arrow-down.svg); */
    content: url(../../../../assets/images/icons/arrow-down.svg);
    border: none;
    height: 7px;
    width: 14px;
    position: relative;
    top: 4px;
}

.logo.col-auto.menu a img.fade-class {
    animation: 1.5s fadeIn;
}

.sub_row button.btn.p-0.dropdown-toggle {
    font-size: 14px;
    letter-spacing: 0.28px;
    font-family: 'roobert-med';
}

.overlay-menu .screen-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #0000;
    display: none;
}

.overlay-menu {
    width: 100%;
    /* min-height: 137px; */
    /* height: auto; */
    /* position: absolute; */
    background: var(--c-white);
    /* top: 100%; */
    /* border-top: 1px solid var(--c-lightgrey); */
    transform: translateY(-50px);
    /* transition: .5s ease-in-out; */
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: .5s ease-in-out;
}

.overlay-menu .container {
    /* padding-left: 65px; */
    position: relative;
    z-index: 2;
}

.overlay-menu .menu {
    /* min-height: 137px; */
    height: auto;
}

.overlay-menu .menu .menu-items a {
    padding: 0;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    grid-gap: 14px;
    font-family: 'roobert-med';
    font-size: 14px;
    color: #000000;
}

.menu-items {
    display: flex;
    /* justify-content: space-around; */
    padding-top: 25px;
    grid-column-gap: 20px;
    flex-wrap: wrap;
    grid-row-gap: 15px;
}

.overlay-menu .menu .menu-items a img {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    /* margin-right: 10px; */
    vertical-align: middle;
}

.overlay-menu .menu .menu-items.col-md-2 {
    display: flex;
    justify-content: space-between;
}

.overlay-menu .menu .menu-items .menu-links ul {
    padding: 0;
    font-size: 12px;
    font-family: 'GothaProMed';
    list-style: none;
}

.overlay-menu .menu .menu-items .menu-links ul li {
    padding: 0;
    padding-top: 10px;
    cursor: pointer;
}

.overlay-menu .menu .menu-items .menu-links ul li a {
    padding: 0;
}

.overlay-menu .menu .menu-items .menu-links ul li a img {
    width: 15px;
    height: 15px;
    margin: 0;
    border-radius: 0;
}

.overlay-menu.open {
    /* opacity: 1;
    visibility: visible;
    transform: translateY(0); */
    transition: .5s ease-in-out;
    /* display: block; */
}

.overlay-menu.open .screen-overlay {
    display: block;
}

.search {
    background: var(--c-search);
    height: 88px;
    margin-top: 10px;
    z-index: 1;
    position: relative;
}

.search .search-input {
    padding: 25px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    font-family: 'GothaProMed';
}

.search .search-input img {
    margin-right: 20px;
    width: 26px;
    height: 27px;
}

.only-riyadh p {
    font-size: 16px;
    color: #000000;
    font-family: 'roobert-med';
}

.search .search-input input {
    width: 90%;
    background: var(--c-search);
    border: none;
    font-size: 24px;
    color: var(--t-color);
}

.search .search-input ::placeholder {
    color: var(--c-sear-text);
}

.search .search-input :-ms-input-placeholder {
    color: var(--c-sear-text);
}

.search .search-input ::-ms-input-placeholder {
    color: var(--c-sear-text);
}

.search .search-input input:focus-visible {
    outline: none;
}

.side-nav {
    display: none;
}

button.action-btn.profile:after {
    display: none;
}

button.action-btn.profile img {
    margin-right: 0 !important;
}

.dropdown-menu.sml.show {
    top: 7px !important;
}

.login-modal {
    background: #fff;
    border-radius: 16px;
    border: none;
}

.login-modal .modal-body {
    position: relative;
    /* padding: 40px 100px; */
    padding: 0;
}

.login-bg-img img {
    border-radius: 8px 0 0 8px;
    height: 100%;
    object-fit: cover;
}

.padding-login {
    padding: 42px 74px 59px 30px;
}


/* .login-modal .modal-body.otp-pad {
    padding: 40px 70px;
} */


/* .login-modal .login-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
} */

.login-modal .login-bg img {
    width: 100%;
}

.w-80 {
    width: 80% !important;
}


/* .login-modal .heading {
    margin-bottom: 25px;
    color: var(--c-white);
} */

.login-modal .heading h2 {
    font-family: 'roobert-reg';
    font-size: 32px;
    color: #000;
    padding-bottom: 27px;
}

.login-modal .heading span {
    font-family: 'roobert-reg';
    font-size: 14px;
    color: #000000;
}

.otp-pad h2 {
    padding-bottom: 0 !important;
}

.login-modal .heading span p {
    direction: ltr;
}

.login-modal input {
    height: 58px;
}

.login-modal ::placeholder {
    color: var(--c-coupon-placeholder);
}

.login-modal :-ms-input-placeholder {
    color: var(--c-coupon-placeholder);
}

.login-modal ::-ms-input-placeholder {
    color: var(--c-coupon-placeholder);
}

.login-modal .form_input {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    grid-column-gap: 3px;
}

.form-control,
.form-control:focus {
    border: 1px solid #DEE4E8;
    font-size: 14px;
    box-shadow: none;
    padding: 10px 27px;
    border-radius: 8px;
}

.country input {
    padding: 0;
    text-align: center;
}

.goto-register a {
    font-family: 'roobert-reg';
}

.login-modal .country-code input {
    /* margin-left: 25%; */
    /* width: 75%; */
}

span.error.f-name {
    margin-left: 25%;
}

.login-modal .country {
    /* position: absolute; */
    width: 20%;
}

.login-modal .country input,
.login-modal .country select {
    margin: 0;
    width: 100%;
}

.login-modal .country select {
    border: 1px solid var(--c-filter-check);
    font-size: 14px;
    box-shadow: none;
    padding: 0;
    height: 58px;
    text-align: center;
    direction: ltr;
}


/* .login-modal .country-code span {
    position: absolute;
    width: 5%;
    height: 58px;
    left: 20%;
} */

.login-modal button.checkout {
    margin: 15px 0;
}

.login-modal .login-otp,
.login-modal .goto-register,
.login-modal .resend a {
    margin: 15px 0;
    color: #000;
    font-size: 14px;
    text-align: center;
    font-family: 'roobert-bold';
}

.login-modal .resend a {
    font-family: 'roobert-reg';
}

.login-modal .login-otp a {
    text-decoration: underline;
    font-family: 'GothaProBol';
    cursor: pointer;
}

.login-social h5 {
    margin-top: 34px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #515151;
    font-family: 'roobert-reg';
}

.social-icon a {
    border: 1px solid #D6D6D6;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-self: unset;
    color: #000;
    width: 48px;
    height: 48px;
}

.social-icon {
    display: flex;
    justify-content: center;
    grid-column-gap: 14px;
}

.login-social p {
    font-size: 14px;
    color: #515151;
    margin: 35px 0 0;
    font-family: 'roobert-reg';
}

.login-social p a {
    color: #000;
    font-family: 'roobert-med';
}

.socila-icon a img {
    width: 100%;
}

.login-modal .goto-register a span {
    color: var(--c-black);
    text-decoration: underline;
    cursor: pointer;
    font-family: 'roobert-med';
}

.login-modal .resend a {
    text-decoration: underline;
    cursor: pointer;
}

.login-modal .otp-field {
    display: flex;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    direction: ltr;
}

.login-modal .otp-field input {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    /* margin-right: 20px; */
    text-align: center;
    border: none;
    border: 1px solid #C7C7C7;
    margin-bottom: 30px;
}

.resend {
    margin-top: 58px;
}

.login-modal .modal-body.otp-pad button.checkout {
    width: 85%;
}

.country-code .image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-code .profile-img img.profile {
    width: 60px;
    height: 58px;
    object-fit: fill;
    border-radius: 50%;
}

.country-code .profile-img img.pencil {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.password {
    position: relative;
    animation: pwd-input 1s;
}

@keyframes pwd-input {
    from {
        top: -50px;
    }
    to {
        top: 0px;
    }
}

.img-uploader {
    position: absolute;
    width: 100%;
}

.img-uploader progress {
    max-width: 100%;
}

.country-code.form_input {
    direction: ltr;
}


/* =================================arabic============================= */

.arabic header .sub_row>* {
    margin-right: 25px;
    margin-left: 0;
}

.arabic header .country .dropdown-toggle img,
.arabic header .language .dropdown-toggle img,
.arabic header .language .dropdown-menu .dropdown-item i,
.arabic header .language .dropdown-item img,
.arabic header .country .dropdown-item img {
    margin-right: 0;
    margin-left: 10px;
}

.arabic header .menu a img.hamburger {
    transform: scaleX(-1);
}

.arabic .overlay-menu .menu .menu-items.col-md-7 {
    padding-left: auto;
    padding-right: 0;
}

.arabic .overlay-menu .menu .menu-items a {
    padding: 0;
    padding-left: 10px;
    font-size: 16px;
}

.arabic .overlay-menu .menu .menu-items a img {
    margin-right: 0;
    margin-left: 0;
}

.arabic .overlay-menu .menu .menu-items.col-md-5 {
    text-align: right;
}

.arabic .search .search-input img {
    margin-right: 0;
    margin-left: 20px;
}

.arabic header .menu a {
    padding-right: 0;
    padding-left: 10px;
}

.arabic header .dropdown-menu {
    text-align: right;
}


/* .arabic.login-modal .country-code input{
    margin-left: auto;
    margin-right: 25%;
} */

.arabic.login-modal .country input {
    margin-right: 0;
}

.arabic.login-modal .form_input {
    text-align: right;
}

.arabic .goto-register a {
    display: inline-block;
    direction: rtl;
}

.arabic.login-modal .goto-register a span {
    display: inline-block;
    direction: rtl;
}

.arabic .cart span.count {
    left: -7px;
    right: auto;
}

.arabic .overlay-menu .menu .menu-items.col-md-2 {
    text-align: right;
}

.arabic .overlay-menu .menu .menu-items a span {
    /* width: 100px; */
    font-size: 18px;
}


/* search result */

.result_tab {
    display: block;
    z-index: 1000;
    overflow: auto;
    max-height: 270px
}

.result_tab ul {
    list-style: none;
    padding-left: 0;
    border-radius: 4px;
    border-right: 1px solid var(--c-filter-check);
    border-left: 1px solid var(--c-filter-check);
    font-size: 12px;
    border-top: 0px solid var(--c-filter-check);
}

.result_tab ul li {
    padding: 20px 40px;
    border-bottom: 1px solid var(--c-filter-check);
    background: var(--c-white);
    color: var(--t-color);
    cursor: pointer;
}

.result_tab ul div.search-result-item {
    display: flex;
    flex-direction: column;
}

.result_tab ul div.search-result-item:hover,
.result_tab ul div.search-result-item:hover li {
    background: var(--c-lgrey);
}

.country-list img {
    object-fit: contain;
}

.cart span.count {
    background: var(--c-cart);
    font-size: 12px;
    height: 17px;
    display: block;
    position: absolute;
    top: 0;
    right: -7px;
    width: 17px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    color: var(--c-white);
    font-family: 'GothaProMed';
}

.btn-group.country-code.form-control.dropdown {
    border: 1px solid #C7C7C7;
    font-size: 14px;
    box-shadow: none;
    padding: 0;
    height: 58px;
    text-align: center;
    border-radius: 8px;
    direction: ltr;
    padding: 0 10px;
    margin: 0;
    width: 58px;
    justify-content: center;
}

.btn-group.country-code.form-control.dropdown button {
    font-size: 14px;
    color: #2A3C49;
    font-family: 'roobert-reg';
}

.btn-group.country-code.form-control.dropdown .dropdown-toggle::after {
    display: none;
}

.download-option {
    background: var(--c-download);
    height: 65px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-option .download-logo {
    width: 44px;
    height: 44px;
    background: var(--c-downloadLogo);
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-option .download-logo svg {
    width: 40px;
    height: 40px;
}

.download-option .heading h5 {
    color: var(--c-addresstype);
    font-size: 16px;
    font-family: "GothaProMed";
    margin: 0;
}

.download-option .heading p {
    color: var(--c-downloadTag);
    font-size: 12px;
    font-family: "GothaProReg";
    margin: 0;
}

.download-option .button button {
    background: var(--c-donwloadBtn);
    width: 70px;
    height: 30px;
    border-radius: 18px;
    border: none;
    color: var(--c-white);
}

@media screen and (min-width: 1200px) {
    header .mob-nav a {
        display: inline-block;
        width: 100%;
        /* text-align: right; */
    }
    .arabic header .mob-nav a {
        text-align: right;
    }
}

@media screen and (max-width: 576px) {
    /* .language {
        display: none;
    } */
    header {
        padding: 9px 0;
        top: 100px;
    }
    header.shrink {
        top: 0;
    }
    .overlay-menu {
        display: none;
    }
    .only-riyadh-mobile {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--c-filter);
    }
    .only-riyadh-mobile p {
        font-size: 12px;
        text-transform: uppercase;
    }
    .mob-nav {
        width: 85px;
        text-align: left;
        margin: 15px 0;
    }
    .logo img {
        height: 40px;
    }
    .user-prof {
        margin: 10px;
    }
    header .sub_row>* {
        margin-left: 15px;
    }
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        background: var(--t-color);
        height: 100%;
        z-index: 9;
        max-width: 80%;
        overflow-y: auto;
        transition: .4s ease-in-out;
        transform: translateX(-105%);
        padding-top: 20px;
        padding-bottom: 30px;
        color: var(--c-footer);
        display: block;
    }
    .side-nav.open {
        transform: translateX(0);
    }
    #menu_Overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: var(--c-backdrop);
        z-index: 9;
        display: none;
    }
    #menu_Overlay.open {
        display: block;
    }
    .side-nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        justify-content: center;
        list-style: none;
    }
    .side-nav ul li {
        width: 100%;
        margin-bottom: 15px;
        padding: 0 15px;
    }
    /* .side-nav ul a.active, .side-nav ul a:hover {
        color: var(--c-white);
    } */
    .side-nav ul li a img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .side-nav ul li a.only-text {
        margin-left: 55px;
        text-decoration: none;
        /* color: var(--c-footer); */
        color: var(--c-white);
    }
    .side-nav ul li a span {
        display: inline-block;
        width: calc(100% - 55px);
        vertical-align: middle;
        color: var(--c-white);
    }
    /* header .dropdown-toggle::after{
        content:  url(../../../../assets/images/icons/arrow-white.png); 
    } */
    /* button.dropdown-toggle.btn{
        color: var(--c-white);
    } */
    .btn-group.country-code.form-control.dropdown button.dropdown-toggle.btn {
        color: var(--c-black);
    }
    .header-padding {
        padding-top: 9px;
    }
    .search {
        margin-top: 5px;
        height: 55px;
    }
    .search .search-input {
        padding: 10px 20px;
        padding-bottom: 5px;
    }
    .login-modal .modal-body,
    .login-modal .modal-body.otp-pad {
        padding: 20px 25px;
    }
    .login-modal .country {
        width: 30%;
    }
    .login-modal .country-code span {
        width: 5%;
        left: 25%;
        display: none;
    }
    .login-modal .country-code input {
        margin-left: 0%;
        width: 100%;
    }
    .padding-login {
        padding: 15px;
    }
    span.error.f-name {
        margin-left: 35%;
    }
    .login-bg-img img {
        height: 200px;
    }
    .border-wra {
        justify-content: flex-start;
        grid-column-gap: 20px;
    }
    .login-modal .country input {
        width: 100%;
        margin: 0;
    }
    .login-modal button.checkout {
        margin: 0 auto;
    }
    .login-modal .otp-field input {
        width: 100%;
        height: 50px;
        margin: 0 5px 30px;
    }
    .search-bar-input input {
        padding: 15px;
    }
    .site_wrapper {
        margin-top: 0;
    }
    .menu-btn,
    .close-icon {
        display: block;
        padding: 0;
        background-color: transparent;
        border: 0;
        font-size: 24px;
    }
    .close-icon {
        position: absolute;
        top: 40px;
        right: 50px;
        z-index: 9999;
        font-size: 32px;
    }
    .logo-head {
        justify-content: space-between;
        padding-right: 15px !important;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        height: 100%;
        z-index: 999;
        transform: translateY(-20%);
        transition: 0.25s all;
        opacity: 0;
        visibility: hidden;
    }
    .menu-close.show {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }
    .mob-row {
        display: unset !important;
    }
    .header-last {
        display: flex !important;
        grid-column-gap: 27px;
        /* justify-content: center; */
        /* margin-top: 20px; */
    }
    .menu a {
        display: block;
        width: max-content;
        max-width: 100%;
        /* margin-bottom: 13px; */
    }
    .header-last button {
        padding: 0;
    }
    /* =========================arabic=============================== */
    .arabic header .sub_row>* {
        margin-right: 15px;
        margin-left: 0;
    }
    .arabic .mob-nav {
        width: auto;
    }
    .arabic .side-nav.open {
        right: 0;
        left: auto;
        text-align: right;
    }
    .arabic .side-nav ul li a img {
        margin-right: 0;
        margin-left: 15px;
    }
    .arabic .side-nav ul li a.only-text {
        margin-right: 55px;
        margin-left: 0;
    }
    .arabic .side-nav {
        transform: translateX(120%);
        visibility: hidden;
    }
    .arabic .side-nav.open {
        transform: translateX(0);
        visibility: visible;
    }
    .arabic.login-modal .country-code input {
        margin-right: 35%;
    }
    .arabic.login-modal .country input {
        margin-right: 0;
    }
    .arabic span.error.f-name {
        margin-left: auto;
        margin-right: 35%;
    }
    .arabic .mob-nav {
        text-align: left;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        padding: 0;
    }
    .logo.menu {
        padding-left: 10px;
    }
    .arabic .logo.menu {
        padding-left: 0;
        padding-right: 10px;
    }
    .mob-nav,
    .arabic .mob-nav {
        width: auto;
    }
    .user-prof {
        margin: 5px;
    }
    .login-modal .otp-field input {
        width: 100%;
        height: 35px;
    }
    span.error.f-name {
        margin-left: 25%;
    }
    .cart span.count {
        height: 15x;
        width: 15px;
        font-size: 10px;
        right: -5px;
    }
    header .sub_row>* {
        margin-left: 10px;
    }
    header .language .dropdown-toggle img,
    .arabic header .language .dropdown-toggle img {
        margin-left: 0;
    }
    .arabic header .sub_row>* {
        margin-right: 10px;
    }
    .arabic .user-prof {
        margin: 5px 7px;
    }
}

.logo-head {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.search-bar-input input::placeholder {
    color: #606060;
    font-size: 14px;
    font-family: 'roobert-reg';
}

.search-bar-input input {
    border: 0;
    border-radius: 26px;
    background: #EFEFEF;
    padding: 12px 18px 12px 58px;
    width: 100%;
}

.search-bar-input button {
    position: absolute;
    left: 37px;
    top: 11px;
    padding: 0;
}

.login-bg-right {
    padding: 36px 62px 58px;
}

.logo img {
    width: 100%;
}

.count {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    font-size: 12px;
    color: #ffff;
    position: absolute;
    top: -2px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}