footer {
    width: 100%;
    background: #95918E;
    /* color: var(--c-footer); */
    color: var(--c-white);
    position: relative;
    overflow: hidden;
}

.footer-row1 h2 {
    font-size: 42px;
    color: #E3E3E3;
    font-family: 'roobert-med';
}

.footer-row1 {
    align-items: center;
    padding: 68px 0;
    border-bottom: 2px dashed #3C3C3C;
}

.footer-row1 p {
    font-size: 18px;
    color: #E3E3E3;
    margin: 0;
    font-family: 'roobert-light';
}

.footer-row1-last a {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
}

.footer-row1-last {
    display: flex;
    grid-column-gap: 20px;
}

.footer-bg1 {
    position: absolute;
    right: 5px;
    bottom: 8%;
    transform: rotate(3deg);
}

.footer-bg2 {
    position: absolute;
    top: 5%;
}

.footer-bg1 img {
    width: 186px;
    height: 263px;
    /* filter: brightness(0) invert(1); */
}


/* .footer-bg2 img {
    filter: brightness(0) invert(1);
} */

.footer-padding {
    padding: 10px 15px;
}

footer .footer-section {
    padding: 163px 0;
    font-family: 'roobert-reg';
    font-size: 16px;
    /* justify-content: space-between; */
}


/* footer .footer-section img {
    width: 100%;
    height: 93px;
    margin-bottom: 15px;
    object-fit: contain;
} */

.footer-logo {
    display: block;
    width: max-content;
    max-width: 100%;
}

footer .footer-section p {
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 55px;
    font-family: 'roobert-reg';
    padding-right: 20px;
}

footer .footer-section .social-icons img {
    /* margin: 10px; */
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}


/* footer .footer-section h6 {
    margin-bottom: 22px;
    font-family: 'roobert-semi';
    font-size: 16px;
    text-align: left;
} */

.social-icons {
    display: flex;
    grid-column-gap: 30px;
}

.footer-padding a {
    font-size: 16px;
    color: #FFFFFF;
    display: block;
    width: max-content;
    max-width: 100%;
    font-family: 'roobert-reg';
    margin-bottom: 17px;
}

footer .footer-section ul {
    padding: 0;
    list-style: none;
}

footer .footer-section ul li {
    margin-bottom: 15px;
}

footer .footer-section ul li a {
    text-decoration: none;
    cursor: pointer;
}

footer .copy-right {
    position: relative;
    z-index: 1;
    background: #353535;
}

footer .copy-right .col-md-12 {
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
}

.cards-strip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-strip svg {
    width: 30%;
}

footer .cards-strip svg path,
footer .cards-strip svg rect {
    fill: var(--c-white);
}

.float-whatsapp {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    display: none;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

.footer-cont .container {
    max-width: 1140px !important;
}

.copy-right p {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.24px;
    margin-bottom: 0;
    font-family: 'roobert-reg';
}

.float-whatsapp.active {
    display: block;
    transition: .5s ease-in;
}

.float-whatsapp img {
    width: 150px;
    cursor: pointer;
}

@keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.footer-padding:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* 
.footer-padding button{
    text-align: center;
    border: none;
    padding: 10px 17px;
    color: #2A353C;
    font-size: 12px;
    background: #FFFFFF;
    font-family: 'roobert-reg';
    border-radius: 19px;
   
   
} */

.footer-padding p {
    color: #FFFFFF;
    font-size: 12px;
}

footer .footer-section h6 {
    color: #FFFFFF;
    margin-bottom: 19px;
    font-family: 'roobert-reg';
    font-size: 16px;
    text-align: left;
}

footer .footer-section img {
    width: 100%;
    object-fit: contain;
}

footer .footer-section input {
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 19px;
    padding: 7px 15px;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    background: transparent;
    padding-right: 123px;
}

footer .footer-section .footer-content {
    position: relative;
}

footer .footer-section .footer-content button {
    height: 100%;
    ;
    right: 0;
    top: 0;
    position: absolute;
    border: none;
    padding: 7px 37px;
    color: #95918E;
    font-size: 10px;
    background: #FFFFFF;
    font-family: 'roobert-reg';
    border-radius: 19px;
}

footer .footer-section .footer-padding p {
    margin-top: 47px;
    font-size: 12px;
    font-family: 'roobert-reg';
    color: #FFFFFF;
}

.footer-padding:first-child h6 {
    margin-bottom: 8px;
    font-size: 12px;
}

::placeholder {
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'roobert-med';
}

@media screen and (max-width: 576px) {
    .mob-footer {
        padding-left: 35px;
    }
    .footer-row1 h2 {
        font-size: 24px;
    }
    .footer-row1 p {
        font-size: 10px;
    }
    .footer-row1-last {
        margin-top: 19px;
        justify-content: center;
    }
    .footer-row1-last button {
        width: 40%;
    }
    .footer-row1-last button img {
        width: 100%;
    }
    .footer-row1 {
        padding: 30px 0;
    }
    footer .footer-section {
        padding: 30px 0;
    }
    footer .footer-section input {
        padding: 7px 16px;
        /* padding-right: 123px; */
    }
    footer .footer-section p {
        font-size: 10px;
        margin-bottom: 18px;
        padding-right: 0;
        margin-top: 10px !important;
    }
    footer .footer-section h6 {
        margin-bottom: 9px;
        font-size: 12px;
    }
    footer .footer-section ul li {
        margin-bottom: 0;
    }
    .footer-padding a {
        font-size: 11px;
        margin-bottom: 5px;
    }
    .footer-padding {
        padding: 10px;
    }
    .footer-bg1,
    .footer-bg2 {
        display: none;
    }
    footer .footer-section img {
        height: 42px;
        margin-bottom: 5px;
    }
    footer .copy-right .col-md-12 {
        padding: 9px;
    }
    .copy-right p {
        font-size: 9px;
    }
    .cards-strip svg {
        width: 70%;
    }
    .float-whatsapp {
        right: 0;
        bottom: 0;
    }
    .float-whatsapp img {
        width: 125px;
    }
}