<div id="faq" class="container-fluid tab-pane fade">
    <div [attr.id]="'accordion'+i" class="accordion" *ngFor="let item of faqlistdata let i=index">
        <div class="card ">
            <!-- <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                    Sales Package
                </a>
            </div>
            <div id="collapseOne" class="card-body " data-parent="#accordion">
                <ul>
                    <li><span>Inside the Box:</span> Pebble Nano Pods Ear Buds, charging Cable, User manual, Warranty Card</li>
                </ul>
            </div> -->
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseTwo'+i">
                <a class="card-title">  {{item.question}} </a>
            </div>
            <div [attr.id]="'collapseTwo'+i" class="card-body collapse  faq  " data-parent="#accordion">
                <ul>
                    <li>{{item.answer}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>