<div class="aboutus">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-6">
                <div class="about-first">
                    <h3>{{LANG.Bloss_About}} </h3>
                    <p>{{LANG.Bloss_About2}}</p>
                </div>
                <div class="connect">
                    <p>{{LANG.CONNECT_WITH_US}}</p>
                    <a href="tel:+971 891 791 7298">+9718917917298</a>
                </div>
                <div class="connect">
                    <p>{{LANG.OUR_APPLICATION}}</p>
                    <a href="#"><img src="assets/images/about-insta.svg" alt=""></a>
                    <a href="#"><img src="assets/images/tiktok.svg" alt=""></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/about-us.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>