<div class="aboutus">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-6">
                <div class="about-first">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit hic repellendus excepturi et totam quasi numquam labore commodi, ipsa rerum nihil ratione quam enim nesciunt architecto delectus veniam eligendi praesentium. </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima inventore molestiae numquam neque magni earum repellendus, porro deserunt illum qui ad mollitia illo natus iste maiores similique? Minus, placeat aspernatur.</p>
                </div>
                <div class="connect">
                    <p>{{LANG.CONNECT_WITH_US}}</p>
                    <a href="tel:+971 891 791 7298">+91 1234567890</a>
                </div>
                <div class="connect">
                    <p>{{LANG.OUR_APPLICATION}}</p>
                    <a href="#"><img src="assets/images/about-insta.svg" alt=""></a>
                    <a href="#"><img src="assets/images/tiktok.svg" alt=""></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/bonvoy/cover6.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>