<div class="site_wrapper">

    <!-- <div class="container pt-3">
        <div class="breadcrumbs mb-4">
             <div class="row m-0 px-4">
        <p><a routerLink="/">{{LANG.Home}} </a> / <a class="active" *ngIf="products_loaded">{{bread_crumb_text}}</a></p>
        </div> 
        </div>
    </div> -->
    <Span class="overlay pop" (click)="filtersec()"></Span>
    <h2 class="smart-watch" *ngIf="category_id==''">All Watches</h2>
    <h2 class="smart-watch" *ngIf="category_id!=''">{{category_name}}</h2>
    <div class="site_container containe-fluid ">
        <div class="row w-100 ">
            <div class="col-md-12 ">
                <!-- <div class="page-width row ">
                    <div class="facets__summary p-2 ">
                        <button (click)="filtersec() "><span class="facets__open button button--small " >
                          <span>Filter<i class="fa fa-plus " aria-hidden="true "></i></span>
                        </span>
                        </button>
                        <div class="filter-sec pop ">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th>Availability</th>
                                        <th>Price</th>
                                        <th>Color</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="first-row ">
                                        <td><button>Reset</button></td>
                                        <td><button>Reset</button></td>
                                        <td><button>Reset</button></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                              <input type="checkbox " class="form-check-input " value=" ">In Stock (10)
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                              <input type="checkbox " class="form-check-input " value=" ">In Stock (10)
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                              <input type="checkbox " class="form-check-input " value=" ">In Stock (10)
                                            </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                              <input type="checkbox " class="form-check-input " value=" ">In Stock (10)
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                              <input type="checkbox " class="form-check-input " value=" ">In Stock (10)
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                              <input type="checkbox " class="form-check-input " value=" ">In Stock (10)
                                            </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="last ">
                                        <td>
                                            <button class="btn ">Apply</button>
                                            <button class="btn ">Clear</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="facets__summary p-2 ">
                        <button>
                        <span class="button button--secondary button--small ">Sort by
                            <i class="fa fa-angle-up " aria-hidden="true "></i></span>
                            </button>
                    
                    </div>
                </div> -->
                <div class="page-width ">


                </div>

            </div>

        </div>


































        <div class="product-list col-md-12 p-0 ">
            <div class="row m-0 ">
                <!-- <div class="col-md-3 filter-border p-0 ">
                    <aside class="filters " [class.active]="show_mobile_filter ">
                        <button class="btn p-0 filters-add " (click)="filtersLists() ">
                        <i class="fa fa-times "></i>
                    </button>
                        <h6>{{LANG.FILTERS}}</h6>
                        <ngb-accordion #acc="ngbAccordion " [activeIds]="activeIds ">
                            <ngb-panel id="panel-1 ">
                                <ng-template ngbPanelTitle let-opened="opened ">
                                    <div class="filter-head p-0 ">
                                        <h5 class="mb-0 ">
                                            <button class="fil_btn row pl-0 m-0 justify-content-between align-center ">
                                    {{LANG.Sort_By}}
                                    <span>
                                        <img src="assets/images/icons/arrow-down.svg " alt="arrow-down ">
                                        <i class="fa fa-angle-up " aria-hidden="true "></i>
                                    </span>
    
                                </button>
                                        </h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="filter-body ">
                                        <div class="p-0 ">
                                            <ul>
                                                <li *ngFor="let data of sort_list;let i=index ">
                                                    <input type="checkbox " name="checkbox " id="sort{{i}} " value="text " (change)="sortProducts(data.id) " [checked]="data.id==s ort ">
                                                    <label class="text " for="sort{{i}} ">
                                    <i class="fa fa-check "></i>
                                        {{data.title}}
                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="panel-2 ">
                                <ng-template ngbPanelTitle let-opened="opened ">
                                    <div class="filter-head p-0 ">
                                        <h5 class="mb-0 ">
                                            <button class="fil_btn row pl-0 m-0 justify-content-between align-center ">
                                    {{LANG.OCCASION}}
                                    <span>
                                        <img src="assets/images/icons/arrow-down.svg " alt="arrow-down ">
                                    </span>
                                    <i class="fa fa-angle-up " aria-hidden="true "></i>
    
                                </button>
                                        </h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent *ngIf="filter_list?.occasions?.length> 0">
    <div class="filter-body">
        <div class="p-0">
            <ul>
                <li *ngFor="let data of filter_list?.occasions;let i=index">
                    <input type="checkbox" name="checkbox" id="occasion{{i}}" value="text" (change)="selectOccasions(data)" [checked]="data.isChecked || data.id == occasion_id">
                    <label class="text" for="occasion{{i}}">
                                    <i class="fa fa-check"></i>
                                        {{data.title}}
                                    </label>
                </li>
            </ul>
        </div>
    </div>
    </ng-template>
    </ngb-panel>

    <ngb-panel id="panel-3">
        <ng-template ngbPanelTitle let-opened="opened">
            <div class="filter-head p-0">
                <h5 class="mb-0">
                    <button class="fil_btn row pl-0 m-0 justify-content-between align-center">
                                    {{LANG.Price}}
                                    <span>
                                        <img src="assets/images/icons/arrow-down.svg" alt="arrow-down">
                                    </span>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
    
                                </button>
                </h5>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="filter-body">
                <div class="p-0">
                    <ul>
                        <li>
                            <ngx-slider *ngIf="showSlider" [(value)]="min_price" [(highValue)]="max_price" [options]="options" (userChangeEnd)="valueChanged($event)"></ngx-slider>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
    </ngb-panel>

    <ngb-panel id="panel-4" *ngIf="filter_list?.color?.length > 0">
        <ng-template ngbPanelTitle let-opened="opened">
            <div class="filter-head p-0">
                <h5 class="mb-0">
                    <button class="fil_btn row pl-0 m-0 justify-content-between align-center">
                                    {{LANG.Color}}
                                    <span>
                                        <img src="assets/images/icons/arrow-down.svg" alt="arrow-down">
                                    </span>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
    
                                </button>
                </h5>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="filter-body">
                <div class="p-0">
                    <ul>
                        <ng-container *ngFor="let data of filter_list?.color;let i=index">
                            <li *ngIf="i < filter_list?.color.show">
                                <input type="checkbox" name="checkbox" id="color{{i}}" value="text" (change)="selectColor(data)" [checked]="data.isChecked">
                                <label class="text" for="color{{i}}">
                                                <i class="fa fa-check"></i>
                                                <i class="fa fa-circle mr-2 ml-2" [style.color]="data.color"></i> {{data.title}}
                                            </label>
                            </li>
                        </ng-container>
                    </ul>
                    <div class="load-more-txt" *ngIf="filter_list?.color?.remaining > 0">
                        <a (click)="showMoreFilters()">
                                        + {{filter_list.color.remaining}} {{LANG.More}}
                                    </a>
                    </div>
                    <div class="load-more-txt" *ngIf="filter_list?.color?.show_less">
                        <a (click)="showLess()">
                                        {{LANG.Show_Less}}
                                    </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    </ngb-accordion>

    </aside>
</div> -->



                <div class="col-md-12 prod-list">
                    <div class="row main_listing" id="abcde">
                        <div class="col-md-12" *ngIf="product_list.length == 0 && products_loaded">
                            <h1>{{LANG.Sorry_No_products_found}}</h1>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6" *ngFor="let data of product_list;let i=index;">
                            <div class="item prod text-center">
                                <a (click)="addToWishlist(data)">
                                    <button class="wishlist">
                                    <i class="fa fa-heart" [class.active]="data.wishlist == '1'" aria-hidden="true"></i>                                
                                </button>
                                </a>
                                <div class="prod-image cur-pointer" (click)="goToProductDetails(data.id)"*ngIf="data.available_quantity>0">
                                    <img src="{{data.image}}" onError="this.src='assets/images/icons/logo-grey.svg';this.className='img-error';">
                                </div>
                                <div class="prod-image cur-pointer out-of-stock-div" (click)="goToProductDetails(data.id)" *ngIf="data.available_quantity==0">
                                    <img src="{{data.image}}" onError="this.src='assets/images/icons/logo-grey.svg';this.className='img-error';">
                                </div>
                                <div class="prod-name text-left ">
                                    <p class="m-0 cur-pointer" (click)="goToProductDetails(data.id)">{{data.title}}</p>
                                    <span>{{data.currency}} {{+data.price - +data.discount}}  <del *ngIf="+data.discount > 0">{{data.currency}} {{data.price}} </del></span>
                                </div>
                                <ng-container *ngIf="data.available_quantity>0">
                                    <button class="add-cart m-auto" (click)="guestLogin(data)" *ngIf="!data.load;else loader;" [class.out-of-stock]="data?.stock == '2'">
                                        {{data?.stock == '2' ? LANG.out_of_stock : LANG.ADD_TO_CART}}
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="data.available_quantity==0">
                                    <button class="add-cart m-auto" (click)="addToCart(data)" *ngIf="!data.load;else loader;" [class.out-of-stock]="data?.stock == '2'" disabled>
                                        Out Of Stock
                                    </button>
                                </ng-container>
                              
                                <ng-template #loader>
                                    <button class="add-cart m-auto cart-loader"> 
                                    <loader></loader>
                                </button>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <!-- <button class="checkout" *ngIf="!load;else load_more_loader;" (click)="loadMore()">
                            {{LANG.Load_More}}
                        </button>  -->
                            <div class="load-more-loader" *ngIf="load">
                                <loader></loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- 
<button class="filters-lists" (click)="filtersLists()">
    <img src="assets/images/icons/search-filters.png">
</button> -->