.site_wrapper {
    overflow: unset;
}

button.wishlist {
    transform: translateY(-100px);
}

.prod:hover button.wishlist {
    transform: translateY(0);
}

.item.prod {
    margin-bottom: 47px;
}

.prod-image img {
    width: 100%;
    height: 300px;
    transition: transform 1s ease;
    object-fit: contain;
}

.prod-image img:hover {
    transform: scale(1.2);
}

.prod-image {
    padding-top: 24px;
    padding-bottom: 55px;
}

.ngx-slider .ngx-slider-bubble {
    padding-bottom: 10px;
}

aside.filters {
    /* border: 1px solid var(--c-filter); */
    position: sticky;
    /* top: 100px; */
    top: 0;
    width: 100%;
    margin: 0 auto;
}

aside.filters h6 {
    margin: 0;
    padding: 30px 45px;
    color: var(--c-black);
    font-size: 12px;
    font-family: 'roobert-med';
}

aside.filters .fil_btn {
    width: 8%;
    background: none;
    border: none;
    align-items: center;
    font-family: 'roobert-med';
    /* color: var(--c-filter-head); */
    /* color: var(--c-cart); */
    color: #03101A;
    font-size: 12px;
    text-transform: uppercase;
}


/* .prod .prod-name {
    margin-top: 55px;
} */


/* .prod-list .prod:hover button.add-cart {
    transform: translate(0);
    transform: translateY( -71px);
} */


/* .prod .prod-name span {
    color: var(--c-cart);
} */

aside.filters .fil_btn span {
    padding: 8px;
    background: #f7f7f7;
    font-size: 12px;
    border-radius: 5px;
    transition: .4s ease-in-out;
    font-weight: 900;
    transform: rotate(180deg);
    visibility: hidden;
}

.filters ul {
    padding: 0px 7px;
    list-style: none;
}

.fil_btn i {
    font-size: 20px;
    transition: 0.25s all;
}

.filters ul input {
    display: none;
}

.filters label {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'roobert-reg';
    font-weight: 600;
    color: #3B3B3B;
    margin-bottom: 9px;
}

.filters label .fa-check,
.filters label span {
    margin: 0 10px;
    border: 1px solid #DEE4E8;
    color: transparent;
    font-size: 10px;
    padding: 3px;
    transition: .4s ease-in-out;
    border-radius: 4px;
}

.filters input:checked~label .fa-check,
.filters input:checked~label span {
    background: var(--t-color);
    color: var(--c-white);
}

.main_listing {
    margin: 0;
}

.filters-add,
.filters-lists {
    display: none;
}

.load-more-txt {
    padding-left: 40px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--c-cart);
}

button.checkout {
    width: 30%;
}

.img-error {
    width: 52% !important;
}

@media screen and (min-width: 573px) and (max-width: 1199px) {
    /* .prod-image img{
        width: 100%;
        height: 150px;
    } */
    /* .prod-image{
        width: auto;
    } */
}

@media screen and (max-width: 572px) {
    .site_wrapper {
        overflow: hidden;
    }
    /* .prod-image{
        width: auto;
    } */
    aside.filters {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        height: 100vh;
        width: 100%;
        background: var(--c-white);
        transform: translateX(-100%);
        transition: .3s ease-in-out;
        padding: 15px;
        overflow: auto;
    }
    aside.filters.active {
        transform: translateX(0);
    }
    .filters-add {
        position: absolute;
        right: 17px;
        top: 5%;
        background: var(--c-black);
        display: block;
    }
    .filters-add i {
        padding: 9px;
        color: var(--c-white);
    }
    .filters-lists {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border: none;
        background: var(--c-black);
        padding: 16px;
        border-radius: 50%;
        box-shadow: 0 8px 23px -6px rgb(27 27 27);
        transition: .3s ease-in-out;
        display: block;
        z-index: 2;
    }
    button.filters-lists img {
        width: 30px;
        height: 30px;
    }
    .main_listing {
        margin: -15px;
    }
    .main_listing .col-6 {
        padding: 0;
    }
    .prod-image img {
        width: 95%;
        height: 200px;
    }
    button.checkout {
        width: 50%;
    }
    .prod-image {
        padding-top: 0;
        padding-bottom: 20px;
    }
    button.wishlist {
        transform: translateY(0);
    }
    .prod-image img:hover {
        transform: none;
    }
    .img-error {
        width: 50% !important;
    }
}

@media screen and (max-width: 320px) {
    .main_listing {
        margin: -15px;
    }
    .main_listing .col-6 {
        padding: 0;
    }
    /* .prod-image img {
        width: 125px;
        height: 125px;
    } */
}

.filter-border {
    border: 1px solid #eaeced;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.facets__summary>span {
    display: flex;
    justify-content: start;
    min-width: auto;
    padding-inline-end: 3.5rem;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.facets__summary button {
    width: 150px;
    border: none;
}

.facets__summary {
    position: relative;
}

.filter-sec.pop {
    position: absolute;
    top: 48px;
    left: 0;
    background: #fff;
    z-index: 99;
    width: 700px;
    box-shadow: 5px 8px 12px #14141469;
    transform: translateY(-20%);
    transition: 0.2s all;
    visibility: hidden;
    opacity: 0;
    min-width: max-content;
    /* overflow: hidden; */
    /* height: 0; */
    transition: 0.4s ease;
}

.filter-sec.pop.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    /* height: auto; */
    /* max-height: max-content; */
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    display: none;
    top: 0;
    z-index: 9
}

.overlay.show {
    display: block;
}

.facets__summary i {
    /* position: absolute;
    top: 50%;
    right: 1.5rem;
    margin-top: -0.5rem; */
    height: 1rem;
    margin: 10px;
}

page-width {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
    .page-width {
        padding: 0 5rem;
    }
    .page-width {
        max-width: var(--page-width);
        margin: 0 auto;
        padding: 0 1.5rem;
    }
}

.filter-head h3 {
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}

.filter-head h6 {
    font-size: 14px;
    margin-bottom: 17px;
}

td {
    font-size: 15px;
}

.table thead th,
td {
    padding-left: 25px;
    border: 0;
}

.table thead th {
    padding-top: 36px;
    border-bottom: 1px solid #dee2e6;
}

.first-row td button {
    font-size: 14px;
    color: #ccc;
    font-family: 'roobert-med';
    background: transparent;
    width: unset;
    position: relative;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.first-row td button:before {
    content: '';
    background: #000;
    height: 1px;
    position: absolute;
    width: 0%;
    bottom: 0;
    right: 0;
    transition: 0.25s ease;
}

.first-row td button:hover::before {
    left: 0;
    width: 100%;
}

.form-check label {
    padding-left: 13px;
    vertical-align: middle;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
}

.form-check label input {
    width: 23px;
    height: 23px;
    margin-left: -32px;
    cursor: pointer;
}

.table tr:nth-last-child(2) td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 49px;
}

.last button:first-child {
    background: #43c553;
    color: #fff;
}

.last button:last-child {
    padding: 0;
    width: unset;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin-left: 20px;
}