<div class="warranty col-md-8 mx-auto">
    <h2><img src="../../assets/images/bonvoy/warrantyRegistericonblack.svg" alt="">Warranty Register</h2>
    <h6>Register your Noise Product</h6>
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" placeholder="Full Name" />
        </div>
        <div class="col-md-6 form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Enter Email" />
        </div>
        <div class="col-md-6 form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="+91  |" />
        </div>
        <div class="col-md-6 form-group">
            <label>Where did you Buy from</label>
            <select class="form-control">
                <option value="Select a distributor">Select a distributor</option>
                <option value="1">1</option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label>Select Your Product</label>
            <select class="form-control">
                <option value="Select a distributor">Select a distributor</option>
                <option value="1">1</option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Enter Email" />
        </div>
        <div class="col-md-6 form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="+91  |" />
        </div>
        <button class="btn">Register Now</button>
    </div>
</div>