<div class="site_wrapper bg-grey">

    <div class="product-container container ">
        <div class="breadcrumbs">
            <div class="row m-0">
                <p><a routerLink="/">{{LANG.Home}} </a> / <a class="active">{{LANG.Cart}}</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="mb-3" [ngClass]="cart_length == 0 && cart_loaded ? 'col-md-12':'col-md-7'">
                <div class="cart-details checkout-status ">
                    <div class="row position-relative">
                        <b class="hr-line">
                <!-- <span [style.width.%]="width"></span> -->
              </b>
                        <div class="col-4">
                            <button class="active">1</button>
                            <p>{{LANG.Cart}}</p>
                        </div>
                        <div class="col-4">
                            <button>2</button>
                            <p>{{LANG.Address}}</p>
                        </div>
                        <div class="col-4">
                            <button>3</button>
                            <p>{{LANG.Payment}}</p>
                        </div>
                    </div>
                </div>
                <div class="cart-details">
                    <h6 *ngIf="cart_length > 0">{{cart_length}} {{cart_length == 1 ? LANG.Item : LANG.Items }}</h6>

                    <div class="pt-3 pb-5 continue-shopping" *ngIf="cart_length == 0 && cart_loaded">
                        <h3>{{LANG.Your_cart_is_empty}}</h3>
                    </div>

                    <div class="single-item align-centered" *ngFor="let data of cartDetails.cart_Detail;let i=index;">
                        <div class="img cur-pointer cart-product" (click)="goToproductDetails(data)" *ngIf="data.available_quantity>0">
                            <img src="{{data.image}}" alt="image" onError="this.src='assets/images/icons/logo-grey.svg';">
                        </div>
                        <div class="img cur-pointer cart-product" (click)="goToproductDetails(data)" *ngIf="data.available_quantity==0">
                            <img class="out-of-stock" src="{{data.image}}" alt="image" onError="this.src='assets/images/icons/logo-grey.svg';">
                        </div>
                        <div class="details">
                            <p class="cur-pointer" (click)="goToproductDetails(data)">{{data.product_title}}</p>
                            <p *ngIf="data.available_quantity==0">Out Of Stock</p>
                            <span *ngIf="data?.available_quantity>0"><del *ngIf="+data.discount > 0">{{data.currency}} {{data.unit_price}} </del>{{data.currency}} {{+data.unit_price - +data.discount}}  </span>
                            <p class="p-0">
                                <a class="remove" (click)="removeCart(data)"><img src="assets/images/icons/remove-cross.svg" alt="remove">
                                    <!-- {{LANG.Remove}} -->
                                </a>
                                <!-- <a class="to-wishlist" (click)="addToWishlist(data)"><img src="assets/images/icons/wishlist.svg" alt="wishlist">{{LANG.Move_to_wishlist}}</a> -->
                            </p>
                        </div>
                        <div class="d-flex align-centered quant-date">
                            <div class="quantity detail" *ngIf="data?.available_quantity>0">
                                <span class="minus" (click)="decrementQuantity(data)"><img class="" src="assets/images/icons/minus-icon.svg" alt="minus"></span>
                                <input type="text" name="quantity" [(ngModel)]="data.quantity" disabled>
                                <span class="plus" (click)="incrementQuantity(data)"><img class="" src="assets/images/icons/plus-icon.svg" alt="plus"></span>
                            </div>

                            <div class="available-date" *ngIf="data.display_from_date || data.display_to_date">
                                <p class="label">{{LANG.available_on}} </p>
                                <p><span>{{data.display_from_date}} - {{data.display_to_date}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="cart-details mb-3 border-wra" *ngIf="addon_categories?.category?.length > 0 && cart_length > 0">
                    <h6>{{LANG.Select_add_ons}}</h6>
                    <div class="row add-ons m-0">
                        <div class="col-md-12 col-12 mb-2 add-on-heading p-0">
                            <ng-container *ngFor="let data of addon_categories?.category;">
                                <ng-container *ngIf="data?.ad_ons?.length > 0">
                                    <h6 [class.active]="data.id == addon_category_id" (click)="changeAddonsCategoy(data)">{{data.title}}</h6>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6 p-0" *ngFor="let item of addon_list;">
                            <div class="item prod text-center">
                                <div class="prod-image cur-pointer" [class.active]="item.id == addon_id">
                                    <img src="{{item.image}}">
                                </div>
                                <div class="prod-name text-center mt-3">
                                    <p class="m-0">{{item.title}}</p>
                                    <span>{{item.price}} {{item.currency}}</span>
                                </div>
                                <button class="add-cart m-auto" (click)="selectAddons(item)" *ngIf="!item.load;else loader;">
                              {{LANG.ADD}}
                          </button>
                                <ng-template #loader>
                                    <button class="add-cart m-auto cart-loader"> 
                                  <loader></loader>
                              </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-5 summary-details" *ngIf="cart_length > 0 && cart_loaded">
                <div class="cart-details summary">
                    <h5>{{LANG.Summary}}</h5>
                    <!-- <div class="single-item" *ngFor="let data of cartDetails.cart_Detail;let i=index;">
                        <a class="remove-cart" (click)="removeCart(data)"><img src="assets/images/icons/close.svg"></a>
                        <div class="img cur-pointer" (click)="goToproductDetails(data)">
                            <img src="{{data.image}}" alt="image" onError="this.src='assets/images/icons/logo-grey.svg';">
                        </div>
                        <div class="details">
                            <p class="cur-pointer" (click)="goToproductDetails(data)">{{data.product_title}}</p>
                            <span>{{+data.unit_price - +data.discount}} {{data.currency}} <del *ngIf="+data.discount > 0">{{data.unit_price}} {{data.currency}}</del></span>
                            <div class="quantity">
                                <span class="plus" (click)="incrementQuantity(data)"><img class="centered" src="assets/images/icons/plus.svg" alt="plus"></span>
                                <input type="text" name="quantity" [(ngModel)]="data.quantity" disabled>
                                <span class="minus" (click)="decrementQuantity(data)"><img class="centered" src="assets/images/icons/minus.svg" alt="minus"></span>
                            </div>
                        </div>

                    </div> -->

                    <ul>
                        <li>
                            <span>{{LANG.SUBTOTAL}}</span><span>{{cartDetails.currency}} {{cartDetails.sub_total}} </span>
                        </li>
                        <li>
                            <span>{{LANG.VAT}}</span><span>+ {{cartDetails.currency}} {{cartDetails.vat}} </span>
                        </li>
                        <li *ngIf="+cartDetails.shipping_charge == 0;else show_shipping">
                            <span>{{LANG.DELIVERY}}</span><span class="text-success">{{LANG.FREE}}</span>
                        </li>
                        <ng-template #show_shipping>
                            <li>
                                <span>{{LANG.DELIVERY}}</span><span class="text-debit">+ {{cartDetails.currency}} {{cartDetails.shipping_charge}}</span>
                            </li>
                        </ng-template>
                        <li *ngIf="+cartDetails.discount_total > 0">
                            <span>{{LANG.Discount}}</span><span class="text-success">- {{cartDetails.currency}} {{cartDetails.discount_total}}</span>
                        </li>
                        <li *ngIf="+cartDetails.bill_value_discount > 0">
                            <span>{{LANG.Discount_on_Bill}}</span><span class="text-success">- {{cartDetails.currency}} {{cartDetails.bill_value_discount}}</span>
                        </li>
                    </ul>

                    <div class="coupon mt-4" *ngIf="!coupon_applied && cart_loaded">
                        <div class="form_input">
                            <label>{{LANG.HAVE_A_COUPON_CODE}}</label>
                            <div class="apply-coupon">
                                <input class="form-control" type="text" placeholder="{{LANG.Enter_Coupon_Code}}" autocomplete="off" name="coupon_code" [(ngModel)]="coupon_code">
                                <button class="btn save_btn" (click)="applyCoupon()" *ngIf="!load;else loader;">{{LANG.Apply}}</button>
                                <ng-template #loader>
                                    <button class="btn save_btn cart-loader coupon-loader">
                              <loader></loader>
                          </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="coupon_applied && cart_loaded">
                        <div class="coupon mt-4 coupon-applied">
                            <div class="form_input">
                                <label>
                          <div class="coupon-applied-text">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <span>{{LANG.Coupon_Applied}}</span>
                          </div>
                        </label>
                                <div class="apply-coupon">
                                    <input class="form-control" type="text" autocomplete="off" disabled name="coupon_code" [(ngModel)]="coupon_code">
                                    <button class="btn save_btn" (click)="removeCoupon()" *ngIf="!load;else loader;">{{LANG.Remove}}</button>
                                    <ng-template #loader>
                                        <button class="btn save_btn cart-loader coupon-loader">
                                  <loader></loader>
                              </button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="cart-note apply-coupon">
                        <input type="text" class="form-control" placeholder="Enter Notes" [(ngModel)]="notes">
                        <!-- <button class="btn save_btn">Apply</button> -->
                    </div>
                    <ul class="mt-5 total-wrap">
                        <li>
                            <span>{{LANG.Total}}</span><span>{{cartDetails.currency}} {{cartDetails.grand_total}} </span>
                        </li>
                    </ul>

                    <button class="checkout mt-4" (click)="checkout()" [disabled]="">{{LANG.Checkout}}</button>


                </div>
            </div>
        </div>
    </div>
</div>


<!-- <ng-template  let-modal> -->
<div class="login-modal modal fade" id="loginModal">
    <div class="modal-dialog">
        <span class="overlay-pop" (click)="openmodal()"></span>
        <div class="modal-body ">
            <div class="row justify-content-between">
                <div class="col-md-6 login-bg-img p-0">
                    <img src="assets/images/bonvoy/login.png" class="w-100" alt="" />
                </div>
                <!-- <div class="login-bg">
                <img src="assets/images/login-bg.svg" alt="login-bg" [class.w-80]="!show_password">
            </div> -->
                <div class="col-md-6 padding-login">
                    <ng-container *ngIf="!show_otp">
                        <div class="heading text-center">
                            <h2>{{LANG.Login_Account}}</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form_input">
                                    <!-- <div class="country-code form_input position-relative"> -->
                                    <!-- <div class="country"> -->

                                    <div class="btn-group country-code form_input position-relative " ngbDropdown role="group" display="dynamic" placement="bottom-left">
                                        <!-- <button type="button" class="btn p-0 dropdown-toggle" ngbDropdownToggle>
                                                        {{guest_code}}
                                                    </button> -->
                                        <!-- <div class="dropdown-menu dropdown-menu-right sml" ngbDropdownMenu>
                                                        <select *ngFor="let data of country_list;" class="dropdown-item" type="button" ngbDropdownItem (click)="changeCountryCode(data.country_code)">
                                                            {{data.country_code}}
                                                        </button>
                                                    </div> -->
                                        <div class="country">
                                            <select name="" id="" [(ngModel)]="guest_code" (change)="changeCountryCode()">
                                                        <option value="{{data.country_code}}" *ngFor="let data of country_list;">{{data.country_code}}</option>
                                                    </select>
                                        </div>
                                        <input type="text" placeholder="{{LANG.Mobile_Number}}" class="form-control" name="mobile_number" maxlength="10" [(ngModel)]="guest_number" (keypress)="onlyNumbers($event)" (paste)="restrictAlphabets($event)">

                                    </div>
                                    <!-- </div> -->
                                    <!-- <span></span> -->
                                    <!-- </div> -->
                                    <!-- <span class="error" *ngIf="login_error.mobile_number">{{LANG.This_field_is_required}}</span>
                                        <span class="error" *ngIf="login_error.mobile_number_valid && country_code == '+91'">{{LANG.Enter_Valid_Number}}
                                            (Ex:
                                            0551234567 or 551235678)</span>
                                        <span class="error" *ngIf="login_error.mobile_number_valid && country_code != '+91'">{{LANG.Enter_Valid_Number}}</span> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-12 col-12 password" *ngIf="show_password">
                                    <div class="form_input">
                                        <input class="form-control" type="password" placeholder="{{LANG.Password}}" name="password" [(ngModel)]="password">
                                        <span class="error" *ngIf="login_error.password">{{LANG.This_field_is_required}}</span>
                                        <span class="error" *ngIf="login_error.password_valid">{{LANG.Password_must_be_characters_or_more}}</span>
                                    </div>
                                </div> -->
                            <div class="col-md-12">
                                <button class="checkout" (click)="sendOTP()" *ngIf="!load;else loader;">
                                        <!-- {{show_password ? LANG.LOGIN_ACCOUNT : LANG.SEND_OTP}} -->Send Otp
                                    </button>
                                <ng-template #loader>
                                    <button class="checkout cart-loader">
                                            <loader></loader>
                                        </button>
                                </ng-template>
                            </div>
                            <!-- <div class="col-md-12">
                                    <div class="login-otp">
                                        <a (click)="showLoginPassword()">{{show_password ? LANG.LOGIN_WITH_OTP :
                                            LANG.LOGIN_WITH_PASSWORD}}</a>
                                    </div>
                                </div> -->
                            <!-- <div class="login-social col-md-12 text-center">
                                    <h5>Login with social</h5>
                                    <div class="social-icon">
                                        <a href="#"><img src="assets/images/google.svg" alt="" /></a>
                                        <a href="#"><img src="assets/images/apple-icon.svg" alt="" /></a>
                                    </div>
                                    <p>Don’t Have An Account? <a href="#">Sign Up</a></p>
                                </div> -->
                            <!-- <div class="col-md-12">
                                    <div class="goto-register mb-0">
                                        <a>Don’t have an account? <span
                                                (click)="openRegistrationModal(registrationModal)">Register</span></a>
                                    </div>
                                </div> -->
                        </div>

                    </ng-container>

                    <ng-container *ngIf="show_otp">
                        <div class="heading  text-center">
                            <h2>{{LANG.Verify_OTP}}</h2>
                            <span>{{LANG.A_verification_code_has_been_sent_to}}
                                <p >{{guest_code}} {{guest_number}}</p>
                            </span>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <div class="otp-field">
                                        <input type="tel" name="o1" id="codeBox1" maxlength="1" [(ngModel)]="otp1" #codeBox1 (keyup)="onKeyUpEvent(1,$event)" (onfocus)="onFocusEvent(1)" (keypress)="keyPressed($event,1)" autocomplete="off">
                                        <input type="tel" name="o2" id="codeBox2" maxlength="1" [(ngModel)]="otp2" #codeBox2 (keyup)="onKeyUpEvent(2,$event)" (onfocus)="onFocusEvent(2)" (keypress)="keyPressed($event,2)" autocomplete="off">
                                        <input type="tel" name="o3" id="codeBox3" maxlength="1" [(ngModel)]="otp3" #codeBox3 (keyup)="onKeyUpEvent(3,$event)" (onfocus)="onFocusEvent(3)" (keypress)="keyPressed($event,3)" autocomplete="off">
                                        <input type="tel" name="o4" id="codeBox4" maxlength="1" [(ngModel)]="otp4" #codeBox4 (keyup)="onKeyUpEvent(4,$event)" (onfocus)="onFocusEvent(4)" (keypress)="keyPressed($event,4)" autocomplete="off">
                                        <input type="tel" name="o5" id="codeBox5" maxlength="1" [(ngModel)]="otp5" #codeBox5 (keyup)="onKeyUpEvent(5,$event)" (onfocus)="onFocusEvent(5)" (keypress)="keyPressed($event,5)" autocomplete="off">
                                        <input type="tel" name="o6" id="codeBox6" maxlength="1" [(ngModel)]="otp6" #codeBox6 (keyup)="onKeyUpEvent(6,$event)" (onfocus)="onFocusEvent(6)" (keypress)="keyPressed($event,6)" autocomplete="off">
                                    </div>
                                    <!-- <div class="otp-error">
                                        <span class="error" *ngIf="login_error.otp">{{LANG.Please_Enter_valid_OTP}}</span>
                                    </div> -->
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="checkout" (click)="verifyOtp()" *ngIf="!load;else otp_loader;">{{LANG.Verify_Otp}}</button>
                                    <ng-template #otp_loader>
                                        <button class="checkout cart-loader">
                                            <loader></loader>
                                        </button>
                                    </ng-template>
                                </div>
                                <!-- <div class="col-md-12">
                <div class="login-otp">
                  <a (click)="showLoginPassword()">LOGIN WITH PASSWORD</a>
                </div>
              </div> -->
                                <div class="col-md-12">
                                    <!-- <div class="resend mb-0 text-center">
                                        <a id="countdown"></a>
                                        <a *ngIf="showResend" (click)="resendAgain()">{{LANG.Resend_OTP}}</a>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- </ng-template> -->