<div class="site_wrapper">

    <!-- <div class="banner-image">
        <img src="assets/images/pd-banner.svg" alt="banner">
        <div class="centered text-center">
            <h1>{{LANG.Where_flowers_bloom_So_does_hope}}</h1>
        </div>
    </div> -->

    <div class="product-container container mt-3" [class.no-product]="no_product">
        <ng-container *ngIf="!no_product && product_loaded">
            <div class="breadcrumbs mb-4">
                <div class="row m-0 px-4 breadcrum-padding">
                    <p><a routerLink="/">{{LANG.Home}} </a> / <a (click)="goToproductList()" class="cur-pointer">{{product_details.category}}</a> / <a class="active">{{product_details.title}}</a> </p>
                </div>
            </div>

            <div class="row bread-crumb-row">
                <div class="col-md-6">
                    <div class="row m-0">
                        <div class="col-md-10">
                            <div class="prod-img" [class.image-err]="img_error">
                                <lib-ngx-image-zoom [thumbImage]=main_image [fullImage]=main_image *ngIf="is_video != '2'"></lib-ngx-image-zoom>
                                <div class="video" *ngIf="is_video == '2'">
                                    <video controls>
                                        <source src="{{main_image}}" type="video/mp4" />
                                        Browser not supported
                                    </video>
                                </div>
                                <!-- <img src="{{main_image}}" alt="details-img" *ngIf="fade_in" onError="this.src='assets/images/icons/logo-grey.svg';"> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="product-det-img">
                            <ng-container *ngFor="let data of product_details?.images">
                                <div class="prod_det_thumb" (click)="changeProductImage(data)">
                                    <img src="{{data.image}}" onError="this.src='assets/images/icons/logo-grey.svg';" *ngIf="data.type != '2'">
                                    <i class="fa fa-file-video-o" aria-hidden="true" *ngIf="data.type == '2'"></i>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 details">
                    <!-- <div class="pd-background-1">
                        <img src="assets/images/bg1.svg" alt="bg1">
                    </div> -->
                    <div class="prod-desc mb-4">
                        <h2>{{product_details.title}}</h2>
                        <p [innerHTML]="product_details.description"></p>
                        <span>
                            <h4>{{product_details.currency}} {{+product_details.price - +product_details.discount}} <span class="mrp">M.R.P. :</span> <del *ngIf="+product_details.discount > 0"> {{product_details.currency}} {{product_details.price}}
                                   </del><span class="dis-per">({{product_details.discount_percent}}% Off)</span></h4>
                        </span>
                        <p class="tax">Inclusive of all taxes <a href="#">Shipping</a> calculated at checkout.</p>
                        <div class="star" *ngIf="product_details.review>0">
                            <ngb-rating [max]=5 [(rate)]="product_details.rating" [readonly]="true"></ngb-rating>


                            <p>{{product_details.reviews}} Reviews</p>
                        </div>


                    </div>
                    <div class="prod-quantity ">
                        <div class="quantity position-relative">
                            <span class="minus" (click)="decrementQuantity()"><img class=""
                                    src="assets/images/icons/minus-icon.svg" alt="minus"></span>
                            <input type="text" [ngModel]="product_details.quantity" disabled>
                            <span class="plus" (click)="incrementQuantity()" *ngIf="product_details.available_quantity>product_details.quantity"><img class=""
                                    src="assets/images/icons/plus-icon.svg" alt="plus"></span>
                        </div>

                        <!-- <button class="btn" (click)="addToWishlist(product_details)">                                        
                            <i class="fa fa-heart" [class.active]="product_details.wishlist == '1'" aria-hidden="true"></i>                        
                        </button> -->
                    </div>
                    <h6 class="tooltip-color">Color-<span>{{product_details?.product_variation[0]?.value}}</span></h6>
                    <div class="tooltip-sec">
                        <div class="color-sec" *ngFor="let item of product_details?.variation1" (click)="getProductDetails2(item.id)">
                            <img src="{{item?.image}}" alt="">
                            <span class="tooltip">{{item?.value}}</span>
                        </div>
                        <!-- <div class="color-sec">
                            <img src="../../../assets/images/flower1.png" alt="">
                            <span class="tooltip">Black</span>
                        </div> -->
                    </div>
                    <p class="available-quantity">Only <span>{{product_details.available_quantity}}</span> Items Left In Stock!</p>
                    <div class="cart-1">
                        <button class="add-cart" (click)="guestLogin(product_details,1)" [disabled]="product_details.available_quantity==0" *ngIf="!load;else loader;" [class.out-of-stock]="product_details?.stock == '2'">{{product_details?.stock == '2' ?
                            LANG.out_of_stock : LANG.ADD_TO_CART}}</button>
                        <button class="add-cart" (click)="BuyNow(product_details,2)" [disabled]="product_details.available_quantity==0" *ngIf="!load;else loader;" [class.out-of-stock]="product_details?.stock == '2'">{{product_details?.stock == '2' ?
                            LANG.out_of_stock : LANG.Buy_now}}</button>
                    </div>
                    <div class="shipping">
                        <div class="row">
                            <div class="col-md-4 col-4 text-center">
                                <img src="assets/images/bonvoy/Free_shipping.gif" alt="">
                                <p>Free Shipping</p>
                            </div>
                            <div class="col-md-4 col-4 text-center">
                                <img src="assets/images/bonvoy/Warranty.gif" alt="">
                                <p>1 Year Replacement Guarantee</p>
                            </div>
                            <div class="col-md-4 col-4 text-center">
                                <img src="assets/images/bonvoy/Secure_Checkout.gif" alt="">
                                <p>Secure Checkout</p>
                            </div>
                        </div>
                    </div>
                    <ng-template #loader>
                        <button class="add-cart cart-loader">
                            <loader></loader>
                        </button>
                    </ng-template>
                    <!-- <div class="description mt-4 tabby" *ngIf="tabby_loaded">
                        <div id="TabbyPromo"></div>
                    </div> -->
                    <!-- <div class="description mt-4 rewards" *ngIf="product_details.reward > 0">
                            <p>{{LANG.complete_your_order_now_and_earn}} <b>{{product_details.reward}} {{product_details.currency}}</b>  {{LANG.cashback_in_your_bloss_wallet}}</p>
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div> -->
                    <!-- <div class="category " *ngIf="product_details.category">
                        <h6>{{LANG.Category}} <span>{{product_details.category}}</span></h6>
                    </div>

                    <div class="description mt-4" *ngIf="product_details.description">
                        <h6>{{LANG.Description}}</h6>
                        <p [innerHTML]="product_details.description"></p>
                        <ul class="specification">
                            <li [innerHTML]="product_details.specifications"></li>
                        </ul>
                    </div>
                    <div class="dimension">
                        <div>
                            <h5>DIMENSIONS</h5>
                            <p>Height 12cm, Width 14cm</p>
                        </div>
                        <img src="assets/images/icons/dimension.svg" alt="" />
                    </div> -->
                    <!-- <div class="available-date category" *ngIf="product_details.display_from_date || product_details.display_to_date">
                        <h6>{{LANG.available_on}} <span>{{product_details.display_from_date}} - {{product_details.display_to_date}}</span></h6>
                    </div> -->
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="no_product && product_loaded">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-5">{{LANG.Sorry_No_Product_found}}</h1>
                </div>
            </div>
        </ng-container>


    </div>
    <div class="navbar navbar-expand-sm scroll-nav">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#specification" role="tab" data-toggle="tab">Specification</a>
            </li>
            <li>
                <a class="nav-link" href="#faq" role="tab" data-toggle="tab">FAQ</a>
            </li>
            <li>
                <a class="nav-link" href="#review" role="tab" data-toggle="tab">Reviews</a>
            </li>

        </ul>
    </div>

    <div class="scrool-spy-sec tab-content">

        <div id="overview" role="tabpanel" class="tab-pane  active ">
            <ng-container *ngFor="let item of product_details?.overview">
                <img src="{{item.image}}" class="w-100" alt="" />
            </ng-container>

        </div>
        <div id="specification" class="specification container-fluid tab-pane fade" role="tabpanel">
            <!-- <h4>Specifications</h4> -->
            <div class="">
                <div class="card mb-0 pt-3">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            PRODUCT INFORMATION
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body card-spec collapse" data-parent="#accordion">
                        <ul>
                            <li [innerHTML]="product_details.specifications"></li>
                        </ul>
                    </div>
                    <!-- <div class="card-header pb-0">
                        <h6 class="card-title"> Specification </h6>
                    </div> -->
                    <!-- <div class="card-body card-spec ">
                        <ul>
                            <li [innerHTML]="product_details.specifications"></li>
                        </ul>
                    </div> -->
                </div>
                <div class="card mb-0 pt-3">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                        <a class="card-title">
                            SALES PACKAGE
                        </a>
                    </div>
                    <div id="collapseTwo" class="card-body card-spec collapse" data-parent="#accordion">
                        <ul>
                            <li [innerHTML]="product_details.sales_package"></li>
                        </ul>
                    </div>
                    <!-- <div class="card-header pb-0">
                        <h6 class="card-title"> Specification </h6>
                    </div> -->
                    <!-- <div class="card-body card-spec ">
                        <ul>
                            <li [innerHTML]="product_details.specifications"></li>
                        </ul>
                    </div> -->
                </div>
                <div class="card mb-0 pt-3">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                        <a class="card-title">
                            WARRANTY
                        </a>
                    </div>
                    <div id="collapseThree" class="card-body card-spec collapse" data-parent="#accordion">
                        <ul>
                            <li [innerHTML]="product_details.product_warranty"></li>
                        </ul>
                    </div>
                    <!-- <div class="card-header pb-0">
                        <h6 class="card-title"> Specification </h6>
                    </div> -->
                    <!-- <div class="card-body card-spec ">
                        <ul>
                            <li [innerHTML]="product_details.specifications"></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <div id="faq" class="container-fluid tab-pane fade">
            <div [attr.id]="'accordion'+i" class="accordion" *ngFor="let item of product_details?.faq let i=index">
                <div class="card ">
                    <!-- <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Sales Package
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body " data-parent="#accordion">
                        <ul>
                            <li><span>Inside the Box:</span> Pebble Nano Pods Ear Buds, charging Cable, User manual, Warranty Card</li>
                        </ul>
                    </div> -->
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseTwo'+i">
                        <a class="card-title">  {{item.question}} </a>
                    </div>
                    <div [attr.id]="'collapseTwo'+i" class="card-body collapse  faq  " data-parent="#accordion">
                        <ul>
                            <li>{{item.answer}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="review" class="container-fluid tab-pane fade">
            <!-- <button type="button" class="btn review-btn" data-toggle="modal" data-target="#review-modal">
                Write a review
              </button> -->
            <div class="review-row">
                <div class="review-wrapper">
                    <div class="review-sec">
                        <div class="star">
                            <ngb-rating [max]=5 [(rate)]="product_details.rating" [readonly]="true"></ngb-rating>
                        </div>
                        <p>I totally loved with this watch, this is very premium looking watch with all the latest features </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="similar-products" *ngIf="related_products.length > 0">
        <div class="container home">
            <div class="best-seller mt-5">
                <div class="row">
                    <div class="col-md-12 text-center mb-2 mt-5">
                        <h4 class="underline-head">{{LANG.SIMILAR_PRODUCTS}}</h4>
                    </div>
                </div>
                <div class="owl-theme partner-carousel mt-2 position-relative">
                    <owl-carousel-o [options]="bestSeller">
                        <ng-template carouselSlide *ngFor="let data of related_products;let i=index;">
                            <div class="item cur-pointer prod text-center" [class.out-of-stock]="data?.stock == '2'">
                                <a>
                                    <button class="wishlist" (click)="addToWishlist(data)">
                                        <i class="fa fa-heart" [class.active]="data.wishlist == '1'"
                                            aria-hidden="true"></i>
                                    </button>
                                </a>
                                <div class="prod-image" (click)="goToProductDetails(data.id)">
                                    <img src="{{data.image}}" onError="this.src='assets/images/icons/logo-grey.svg';">
                                </div>
                                <div class="prod-name text-center mt-3">
                                    <p class="m-0">{{data.title}}</p>
                                    <span>{{+data.price - +data.discount}} {{data.currency}} <del
                                            *ngIf="+data.discount > 0">{{data.price}} {{data.currency}}</del></span>
                                </div>
                                <button class="add-cart m-auto" (click)="guestLogin(data)" *ngIf="!data.load;else loader;">
                                    {{data?.stock == '2' ? LANG.out_of_stock : LANG.ADD_TO_CART}}
                                </button>
                                <ng-template #loader>
                                    <button class="add-cart m-auto cart-loader">
                                        <loader></loader>
                                    </button>
                                </ng-template>
                            </div>
                        </ng-template>


                    </owl-carousel-o>
                </div>
            </div>
        </div>

    </section>

</div>


<div class="modal fade" id="review-modal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-body">
                <h6>How would you rate this item?</h6>
                <ngb-rating [max]=5 [(rate)]="rating" [readonly]="false"></ngb-rating>
                <div class="text-area-input">
                    <textarea class="form-control" placeholder="Tellus" [(ngModel)]="review"></textarea>
                    <button class="btn" (click)="insertRating()">Submit </button>
                </div>

            </div>


        </div>
    </div>
</div>


<div class="login-modal modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-body ">
            <div class="row justify-content-between">
                <div class="col-md-6 login-bg-img p-0">
                    <img src="assets/images/bonvoy/login.png" class="w-100" alt="" />
                </div>
                <!-- <div class="login-bg">
                <img src="assets/images/login-bg.svg" alt="login-bg" [class.w-80]="!show_password">
            </div> -->
                <div class="col-md-6 padding-login">
                    <ng-container>
                        <div class="heading text-center">
                            <h2>{{LANG.Login_Account}}</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form_input">
                                    <!-- <div class="country-code form_input position-relative"> -->
                                    <!-- <div class="country"> -->

                                    <div class="btn-group country-code form_input position-relative " ngbDropdown role="group" display="dynamic" placement="bottom-left">
                                        <!-- <button type="button" class="btn p-0 dropdown-toggle" ngbDropdownToggle>
                                                        {{guest_code}}
                                                    </button> -->
                                        <!-- <div class="dropdown-menu dropdown-menu-right sml" ngbDropdownMenu>
                                                        <select *ngFor="let data of country_list;" class="dropdown-item" type="button" ngbDropdownItem (click)="changeCountryCode(data.country_code)">
                                                            {{data.country_code}}
                                                        </button>
                                                    </div> -->
                                        <div class="country">
                                            <select name="" id="" [(ngModel)]="guest_code" (change)="changeCountryCode()">
                                                        <option value="{{data.country_code}}" *ngFor="let data of country_list;">{{data.country_code}}</option>
                                                    </select>
                                        </div>
                                        <input type="text" placeholder="{{LANG.Mobile_Number}}" class="form-control" name="mobile_number" maxlength="10" [(ngModel)]="guest_number" (keypress)="onlyNumbers($event)" (paste)="restrictAlphabets($event)">

                                    </div>
                                    <!-- </div> -->
                                    <!-- <span></span> -->
                                    <!-- </div> -->
                                    <!-- <span class="error" *ngIf="login_error.mobile_number">{{LANG.This_field_is_required}}</span>
                                        <span class="error" *ngIf="login_error.mobile_number_valid && country_code == '+91'">{{LANG.Enter_Valid_Number}}
                                            (Ex:
                                            0551234567 or 551235678)</span>
                                        <span class="error" *ngIf="login_error.mobile_number_valid && country_code != '+91'">{{LANG.Enter_Valid_Number}}</span> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-12 col-12 password" *ngIf="show_password">
                                    <div class="form_input">
                                        <input class="form-control" type="password" placeholder="{{LANG.Password}}" name="password" [(ngModel)]="password">
                                        <span class="error" *ngIf="login_error.password">{{LANG.This_field_is_required}}</span>
                                        <span class="error" *ngIf="login_error.password_valid">{{LANG.Password_must_be_characters_or_more}}</span>
                                    </div>
                                </div> -->
                            <div class="col-md-12">
                                <button class="checkout" (click)="sendOTP()" *ngIf="!load;else loader;">
                                        <!-- {{show_password ? LANG.LOGIN_ACCOUNT : LANG.SEND_OTP}} -->Send Otp
                                    </button>
                                <ng-template #loader>
                                    <button class="checkout cart-loader">
                                            <loader></loader>
                                        </button>
                                </ng-template>
                            </div>
                            <!-- <div class="col-md-12">
                                    <div class="login-otp">
                                        <a (click)="showLoginPassword()">{{show_password ? LANG.LOGIN_WITH_OTP :
                                            LANG.LOGIN_WITH_PASSWORD}}</a>
                                    </div>
                                </div> -->
                            <!-- <div class="login-social col-md-12 text-center">
                                    <h5>Login with social</h5>
                                    <div class="social-icon">
                                        <a href="#"><img src="assets/images/google.svg" alt="" /></a>
                                        <a href="#"><img src="assets/images/apple-icon.svg" alt="" /></a>
                                    </div>
                                    <p>Don’t Have An Account? <a href="#">Sign Up</a></p>
                                </div> -->
                            <!-- <div class="col-md-12">
                                    <div class="goto-register mb-0">
                                        <a>Don’t have an account? <span
                                                (click)="openRegistrationModal(registrationModal)">Register</span></a>
                                    </div>
                                </div> -->
                        </div>

                    </ng-container>

                    <ng-container *ngIf="show_otp">
                        <div class="heading  text-center">
                            <h2>{{LANG.Verify_OTP}}</h2>
                            <span>{{LANG.A_verification_code_has_been_sent_to}}
                                <p >{{guest_code}} {{guest_number}}</p>
                            </span>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <div class="otp-field">
                                        <input type="tel" name="o1" id="codeBox1" maxlength="1" [(ngModel)]="otp1" #codeBox1 (keyup)="onKeyUpEvent(1,$event)" (onfocus)="onFocusEvent(1)" (keypress)="keyPressed($event,1)" autocomplete="off">
                                        <input type="tel" name="o2" id="codeBox2" maxlength="1" [(ngModel)]="otp2" #codeBox2 (keyup)="onKeyUpEvent(2,$event)" (onfocus)="onFocusEvent(2)" (keypress)="keyPressed($event,2)" autocomplete="off">
                                        <input type="tel" name="o3" id="codeBox3" maxlength="1" [(ngModel)]="otp3" #codeBox3 (keyup)="onKeyUpEvent(3,$event)" (onfocus)="onFocusEvent(3)" (keypress)="keyPressed($event,3)" autocomplete="off">
                                        <input type="tel" name="o4" id="codeBox4" maxlength="1" [(ngModel)]="otp4" #codeBox4 (keyup)="onKeyUpEvent(4,$event)" (onfocus)="onFocusEvent(4)" (keypress)="keyPressed($event,4)" autocomplete="off">
                                        <input type="tel" name="o5" id="codeBox5" maxlength="1" [(ngModel)]="otp5" #codeBox5 (keyup)="onKeyUpEvent(5,$event)" (onfocus)="onFocusEvent(5)" (keypress)="keyPressed($event,5)" autocomplete="off">
                                        <input type="tel" name="o6" id="codeBox6" maxlength="1" [(ngModel)]="otp6" #codeBox6 (keyup)="onKeyUpEvent(6,$event)" (onfocus)="onFocusEvent(6)" (keypress)="keyPressed($event,6)" autocomplete="off">
                                    </div>
                                    <!-- <div class="otp-error">
                                        <span class="error" *ngIf="login_error.otp">{{LANG.Please_Enter_valid_OTP}}</span>
                                    </div> -->
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="checkout" (click)="verifyOtp()" *ngIf="!load;else otp_loader;">{{LANG.Verify_Otp}}</button>
                                    <ng-template #otp_loader>
                                        <button class="checkout cart-loader">
                                            <loader></loader>
                                        </button>
                                    </ng-template>
                                </div>
                                <!-- <div class="col-md-12">
                <div class="login-otp">
                  <a (click)="showLoginPassword()">LOGIN WITH PASSWORD</a>
                </div>
              </div> -->
                                <div class="col-md-12">
                                    <!-- <div class="resend mb-0 text-center">
                                        <a id="countdown"></a>
                                        <a *ngIf="showResend" (click)="resendAgain()">{{LANG.Resend_OTP}}</a>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid new-launch">
    <h2>New Launch</h2>
    <div class="row launch-row">
        <div class="col-md-3 prod text-center" *ngFor="let item of product_details.new_launch.slice(-4)">
            <img src="{{item.image}}" class="w-100" alt="" />
            <div class="prod-name">
                <p>{{item.title}}</p>
                <div class="star justify-content-center">
                    <ngb-rating *ngIf="item.rating!=''" [max]=5 [(rate)]="item.rating" [readonly]="true"></ngb-rating>

                    <p *ngIf="item.reviews!=0">{{item.reviews}} Reviews</p>
                </div>
                <span class="prod-pr"><span>{{item.currency}}{{item.price - item.discount}}</span><del>{{item.currency}}{{item.price}}</del><span class="dis-per">({{item.discount_percent}}% off)</span></span>
            </div>
        </div>
    </div>
</div>
<div class="prod-bottom">
    <div class="prod-sec1">
        <img src="../../../assets/images/bonvoy/watch1.png" alt="">
        <div>
            <h2>{{product_details.title}}</h2>
            <span class="prod-pr"><span>{{product_details.currency}} {{+product_details.price - +product_details.discount}}</span> <del *ngIf="+product_details.discount > 0"> {{product_details.currency}} {{product_details.price}}
            </del><span class="dis-per">({{product_details.discount_percent}}% Off)</span></span>
        </div>
    </div>
    <div class="col-md-4 col-6 drop-button">
        <div class="dropdown col-md-6">
            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                {{product_details?.product_variation[0]?.value}}
            </button>
            <div class="dropdown-menu" *ngFor="let item of product_details?.variation1" (click)="getProductDetails2(item.id)">
                <a class="dropdown-item">{{item?.value}}</a>
            </div>
        </div>
        <button class="btn buyit">Buy It Now</button>
    </div>
</div>