.order-wrapper {
    padding: 40px 50px 10px;
    background: var(--c-white);
    color: var(--c-black);
    border-radius: 12px;
}

.order-wrapper h6 {
    font-size: 24px;
    color: #000;
    margin: 0;
    font-family: 'roobert-semi';
    /* padding-bottom: 12px; */
}

.orders .order-date {
    /* display: flex; */
    flex-wrap: wrap;
    font-size: 14px;
    font-family: 'roobert-semi';
    color: #000;
    margin-bottom: 0;
}

.orders .order-date p {
    margin-right: 30px;
    margin-bottom: 0px;
}

.orders .order-details {
    /* font-family: 'GothaProMed'; */
    /* font-size: 12px; */
    padding-top: 36px;
}

p.items {
    color: var(--c-black);
    font-size: 12px;
    font-family: 'roobert-semi';
    margin-bottom: 21px;
}

.details p {
    font-size: 14px;
    color: #515151;
    font-family: 'roobert-med';
}

.order-details .single-order {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    font-size: 14px;
}

.orders .single-order .img {
    margin-right: 20px;
}

.orders .single-order .img img {
    width: 51px;
    height: 51px;
    border-radius: 8px;
}

.orders .single-order .details {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'GothaProMed';
}

.orders .single-order .details span {
    color: #000;
    font-size: 14px;
    font-family: 'roobert-med';
}

.orders .single-order .details span:last-child {
    margin-left: 10px;
}

.orders .delivery-address {
    /* font-size: 14px; */
    /* font-family: 'GothaProMed'; */
    margin-top: 49px;
}

.delivery-address p {
    margin-bottom: 12px;
}

.orders .delivery-address .address-part p {
    margin: 0;
    direction: ltr;
    font-size: 14px;
    color: #000;
    font-family: 'roobert-med';
}

.orders .delivery-address .address-part span {
    display: inline-block;
    margin-top: 22px;
    font-family: 'roobert-reg';
    font-size: 14px;
    color: #000;
}

.orders .order-status .status {
    display: inline-block;
    margin-right: 60px;
    font-family: 'GothaProMed';
    font-size: 14px;
}

.orders .order-status .status label {
    font-size: 12px;
    color: var(--c-black);
}

.card {
    width: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 16px;
    margin-bottom: 16px;
}

.card .card-message,
.summary-details {
    padding: 22px 24px;
}

.card .card-message p {
    margin: 0;
    font-size: 12px;
    font-family: 'roobert-reg';
}

.card-message p:nth-child(2) {
    font-size: 14px !important;
    margin: 18px 0 8px !important;
}

.card-message p:first-child {
    font-family: 'roobert-med' !important;
}

.cart-details.summary h6 {
    font-size: 14px;
    color: #000;
    margin: 0;
    font-family: 'roobert-med';
    padding-bottom: 33px;
}

.card .card-message span {
    font-size: 12px;
    font-family: 'GothaProReg';
    display: block;
}

.cart-details .single-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-family: 'GothaProReg';
    position: relative;
    border-bottom: 1px solid var(--c-filter-check);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.cart-details .single-item img {
    width: 100px;
    height: 80px;
    border-radius: 8px;
    object-fit: fill;
}

.cart-details .single-item .details {
    padding: 5px 15px;
    width: 100%;
}

.cart-details .single-item .details p {
    margin: 0;
    text-transform: capitalize;
    color: var(--t-color);
    font-family: 'GothaProMed';
}

.cart-details .single-item .details span {
    font-size: 12px;
    color: var(--c-cart);
}

.summary ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'GothaProMed';
    color: var(--c-black);
    text-transform: uppercase;
}

.summary ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    font-size: 12px;
    font-family: 'roobert-med';
}

.summary ul li:last-child {
    margin-top: 30px;
    font-family: 'roobert-bold';
}

.text-debit {
    color: #2EAD37;
}

.invoice-download a {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.invoice-download a i {
    margin-right: 10px;
}

@media screen and (max-width: 572px) {
    .order-wrapper {
        padding: 20px 30px;
    }
    .card .card-message,
    .summary-details {
        padding: 20px;
    }
    .orders .order-date p {
        margin-right: 12px;
    }
}

.summary-last .cart-details.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-left h5 {
    font-size: 18px;
    color: #000000;
    font-family: 'roobert-med';
}

.summary-left p {
    font-size: 14px;
    font-family: 'roobert-reg';
    margin: 0;
    color: #000;
}

.summary-right p {
    font-size: 11px;
    color: #6E6E6E;
    font-family: 'roobert-reg';
    margin-bottom: 3px;
}

.summary-right h5 {
    font-size: 12px;
    color: #6E6E6E;
    font-family: 'GothaProReg';
    margin: 0;
}

.summary-right h5 img {
    margin-right: 7px;
}


/* #order-review .modal-dialog {
    max-width: 50%;
}

#order-review .modal-body {
    padding: 40px;
}

#order-review .single-order {
    align-items: center;
    grid-column-gap: 40px;
    justify-content: space-between;
}

#order-review .single-order img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.star {
    font-size: 40px;
}

.star textarea {
    font-size: 12px;
    margin-top: 10px;
} */

.single-order-wrapper {
    justify-content: space-between;
}

.single-order-wrapper button {
    border: 1px solid #000;
    font-size: 12px;
    color: #000;
    font-family: 'roobert-med';
}

#review-modal .modal-content {
    border-radius: 8px;
    padding: 40px;
}

#review-modal .modal-body button {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 38px;
    text-align: center;
    display: block;
    margin: 22px auto 0;
    background: #000;
    color: #fff;
    font-size: 20px;
}

#review-modal .modal-body h6 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 39px;
}

#review-modal ngb-rating {
    justify-content: center;
    width: 100%;
    grid-column-gap: 6px;
    font-size: 40px;
    color: #ffe67f;
}

textarea {
    height: 126px;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px 15px;
}

#review-modal.show {
    display: block;
    background: #00000063;
}

.order-sta {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.order-sta button {
    background: #000;
    color: #fcfcfc;
}

.order-track-row {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s all;
    height: 0;
}

.order-track-row.show {
    visibility: visible;
    opacity: 1;
    height: 50px;
    display: flex;
}

.order-track span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
    display: block;
    margin: auto;
}

.order-track {
    padding: 0;
    text-align: center;
}

.order-track span::before {
    content: '';
    position: absolute;
    left: 52%;
    top: 4px;
    width: 100%;
    background: #ccc;
    height: 2px;
    /* transform: translatey(-50%); */
}

.order-track p {
    font-size: 11px;
    padding-top: 10px;
    margin: 0;
}

.order-track:last-child span::before {
    display: none;
}

.order-track .active span {
    background: #000;
}

.order-track .active span::before {
    background: #000;
}

.order-sta {
    padding-bottom: 12px;
}